.marker-window-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 1rem; 
}

.marker-window-button {
  type: button;
  background-color: #6547A5;
  color: white;
  border-radius: 0.375rem; 
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 2px 7px -3px #3b71ca;
  transition: all 0.15s ease-in-out;
  margin: 0; 
}

.marker-window-button:hover {
  background-color: #7D67AC;
  box-shadow: 0 8px 9px -4px rgba(59, 113, 202, 0.3), 0 4px 18px 0 rgba(59, 113, 202, 0.2);
}

.marker-window-button:focus {
  background-color: #6547A5;
  box-shadow: 0 8px 9px -4px rgba(59, 113, 202, 0.3), 0 4px 18px 0 rgba(59, 113, 202, 0.2);
  outline: none;
  ring: 0;
}
