.marker-details-container {
  background: #ffffff; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 16px; /* Padding inside the container */
  max-width: 300px; /* Maximum width of the container */
  font-family: 'Plus Jakarta Sans';
}

.marker-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px; /* Space between header and content */
}

.marker-details-title {
  font-size: 1.25rem; /* Title font size */
  font-weight: bold; /* Bold title */
  color: #333; /* Dark text color for title */
}

.marker-details-rating {
  display: flex;
  align-items: center;
}

.marker-details-rating-stars {
  /* Add styles for the stars */
}

.marker-details-rating-number {
  margin-left: 4px; /* Space between stars and rating number */
  color: #666; /* Gray text color for rating number */
}

.marker-details-accessibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px; /* Space between content and accessibility icons */
}

.marker-details-accessibility-icon {
  /* Add styles for accessibility icons */
}

.marker-details-content {
  font-size: 0.875rem; /* Content font size */
  color: #666; /* Gray text color for content */
  line-height: 1.5; /* Line height for content */
}

.marker-window-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 1rem; 
}

.marker-window-button {
  type: button; 
  background-color: #6547A5;
  color: white;
  border-radius: 0.375rem; 
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 2px 7px -3px #3b71ca;
  transition: all 0.15s ease-in-out;
  margin: 0; 
}

.marker-window-button:hover {
  background-color: #7D67AC;
  box-shadow: 0 8px 9px -4px rgba(59, 113, 202, 0.3), 0 4px 18px 0 rgba(59, 113, 202, 0.2);
}

.marker-window-button:focus {
  background-color: #6547A5;
  box-shadow: 0 8px 9px -4px rgba(59, 113, 202, 0.3), 0 4px 18px 0 rgba(59, 113, 202, 0.2);
  outline: none;
  ring: 0;
}

.green-button {
  background-color: green;
  color: white; 
}

/* Adjust image size */
.marker-window-image {
  max-width: 100%; /* Set the image to be responsive within its container */
  max-height: 50vh; /* Set a maximum height (50% of the viewport height) */
  width: auto; /* Automatically adjust width to maintain aspect ratio */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  overflow-y: auto; /* Add vertical scrollbar if image exceeds max-height */
}



